body{
    background-image: url("http://wallpapercave.com/wp/obQOXB6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
html{
    height: 105%;
}

.GObutton1{
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: #7CFC00;
    color: blue;
    font-size: 25px;
    border-color:transparent;
    font-family: cursive;
    border-color:black;
    

}

.GObutton2{
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: #800000;
    color: white;
    font-size: 25px;
    border-color:transparent;
    font-family: cursive;
    border-color:black;
}

h1{
    color: black;
    font-size: 50px;
    text-align: center;
}

#signs{
    position: absolute;
    top: 0;
    right: 0;
}


nav {
    top: 0;
}
nav a{
    color: white;
    font-size: 30px;
}

